In [13]:
import pandas as pd
import numpy as np
bazar = pd.read_csv('bazar.csv')

,nazwa,świeże,mrożone,ostre,słodkie,zielone,czerwone,lokalne,tropikalne,liściaste,bulwowe
0,jablko,0.4,0.0,0.0,0.7,0.5,0.5,1.0,0.0,0.0,0.0
1,truskawka,0.5,0.0,0.3,0.8,0.1,1.0,0.5,0.0,0.0,0.0
2,ziemniak,0.7,0.2,0.0,0.2,0.4,0.2,0.9,0.0,0.0,1.0
3,batat,0.7,0.3,0.7,0.2,0.4,0.6,0.6,0.0,0.0,1.0
4,pomidor,0.9,0.0,0.0,0.2,0.2,0.9,0.7,0.0,0.0,0.0
5,ananas,0.5,0.0,0.0,0.7,0.8,0.1,0.0,0.8,0.2,0.0
6,papryczka chilli,0.6,0.0,0.9,0.0,0.1,1.0,0.1,0.3,0.0,0.0
7,brokuła,0.4,0.9,0.0,0.1,1.0,0.0,0.7,0.1,0.4,0.0
8,rukola,0.0,0.0,0.0,0.0,1.0,0.0,0.4,0.0,1.0,0.0
9,marchew,0.9,0.7,0.0,0.3,0.1,0.8,0.8,0.0,0.0,0.7
10,borówka,0.8,0.0,0.0,0.9,0.3,0.3,0.1,0.2,0.0,0.0

In [8]:
case_a = ['świeże', 'ostre', 'czerwone']
case_b = ['mrożone', 'zielone', 'słodkie', 'liściaste']
case_c = ['świeże', 'zielone', 'czerwone', 'słodkie']

In [9]:
def get_item(df, case):
    data = df[case]
    items_length = len(data)
    columns_length = len(case)
    items = np.empty(items_length, dtype=np.dtype(float))

    for i in range(0, columns_length):
        for j in range(0, items_length):
            items[j] += data.iloc[j, i]
        
    max_value = max(items)
    max_value_index_index = 0

    for i in range(0, items_length):
        if max_value == items[i]:
            max_value_index_index = i
            break
        
    return df.iloc[max_value_index_index, 0]

In [10]:
get_item(bazar, case_a)

'papryczka chilli'

In [11]:
get_item(bazar, case_b)

'batat'

In [12]:
get_item(bazar, case_c)

'truskawka'